<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/vue.min.js"></script>
    <script type="text/javascript" th:src="@{/static/axios.min.js}"></script>
</head>
<body>
<div id="app">
    <div v-show="subjectCondition.subjectNow==null">
        <button v-for="item in subjectList" @click="subjectCondition.subjectNow=item">{{item}}</button>
        <span>最少正确数</span><input style="width: 50px" type="number" v-model="subjectCondition.right">
        <span>最少错误数</span><input style="width: 50px" type="number" v-model="subjectCondition.error">
        <span>最少质疑数</span><input style="width: 50px" type="number" v-model="subjectCondition.doubted">
    </div>
    <div v-show="subjectCondition.subjectNow!=null">
        <button @click="resetSubject">重新选择科目</button>
        <span>最少正确数</span><input style="width: 50px" type="number" v-model="subjectCondition.right">
        <span>最少错误数</span><input style="width: 50px" type="number" v-model="subjectCondition.error">
        <span>最少质疑数</span><input style="width: 50px" type="number" v-model="subjectCondition.doubted">
        <span>未答题：{{count.noAnswerTime}}个</span>
        <span>错误：{{count.errorTime}}个</span>
        <span>正确：{{count.rightTime}}个</span>
        <br>
        <hr>
        <div v-for="(item,index) in list" style="white-space: pre;">
            <div>
                <span v-show="item.qtype=='SINGLE_CHOICE'">(单选)</span>
                <span v-show="item.qtype=='MULTI_CHOICE'">(多选)</span>
                <span style="font-weight:bold">{{index+1}}、{{item.title}}</span>
            </div>
            <div><span>{{item.options}}</span></div>
            <div><input v-model="item.answered" placeholder="请输入答案">
                <button @click="answer(item)">确定</button>
                <button @click="doubted(item)">存疑</button>
            </div>
            <div v-show="!item.hideAnswer">
                <div v-show="item.isRight">
                    <span style="color: green">答案：{{item.answer}}</span>
                </div>
                <div v-show="!item.isRight">
                    <span style="color: red">答案：{{item.answer}}</span>
                </div>
                <div>
                    <span>解析：{{item.parsing}}</span>
                </div>
                <div>
                    <span>备注：{{item.remark}}</span>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            subjectCondition: {
                subjectNow: null,
                error: 0,
                right: 0,
                doubted: 0,
            },
            count: {
                errorTime: 0,
                rightTime: 0,
                noAnswerTime: 50
            },
            subjectList: [],
            list: [],
        },
        methods: {
            resetSubject() {
                this.subjectCondition.subjectNow = null;
                this.count.noAnswerTime = 50;
                this.count.rightTime = 0;
                this.count.errorTime = 0;
            },
            doubted(item) {
                axios({
                    method: "get",
                    url: "/question/count?id=" + item.id + "&type=doubted"
                }).then(res => {

                })
            },
            answer(item) {
                const that = this;
                if (item.answered === '') {
                    alert("请输入答案")
                } else {
                    axios({
                        method: "get",
                        url: "/question/answer?id=" + item.id + "&answered=" + item.answered
                    }).then(res => {
                        item.isRight = res.data
                        that.count.noAnswerTime = 0;
                        that.count.rightTime = 0;
                        that.count.errorTime = 0;
                        that.list.forEach(function (v, i) {
                            if (v.isRight === undefined) {
                                that.count.noAnswerTime++;
                            } else if (v.isRight) {
                                that.count.rightTime++;
                            } else {
                                that.count.errorTime++;
                            }
                        });
                    })
                    item.hideAnswer = false
                }
            },
            listData() {
                const that = this;
                axios({
                    method: "get",
                    url: "/question/listExams?subject=" + that.subjectCondition.subjectNow
                        + "&error=" + that.subjectCondition.error
                        + "&right=" + that.subjectCondition.right
                        + "&doubted=" + that.subjectCondition.doubted
                    ,
                    header: {'Content-Type': 'application/json'}
                }).then(res => {
                    that.list = res.data;
                })
            },
            listSubject() {
                const that = this;
                axios({
                    method: "get",
                    url: "/question/listSubject",
                    header: {'Content-Type': 'application/json'}
                }).then(res => {
                    that.subjectList = res.data;
                })
            }
        },
        mounted() {
            this.listSubject()
        }, watch: {
            subjectCondition: {
                handler(val, oldVal) {
                    this.listData()
                },
                deep: true //true 深度监听
            }
        }
    });
</script>
</html>
