<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/vue.min.js"></script>
    <script type="text/javascript" th:src="@{/static/axios.min.js}"></script>
    <!--    <script src="/static/markdown/lodash.js"></script>-->
    <!--    <script src="/static/markdown/marked.js"></script>-->
</head>
<body>

<div id="app">
    <div>
        <input v-model="searchWord" placeholder="关键词">
        <button v-show="filterMap.hideAnswer" @click="filterMap.hideAnswer=false">显示所有答案</button>
        <button v-show="!filterMap.hideAnswer" @click="filterMap.hideAnswer=true">隐藏所有答案</button>
        <button v-show="!filterMap.likeable" @click="filterMap.likeable=true">我的收藏</button>
        <button v-show="filterMap.likeable" @click="filterMap.likeable=''">取消我的收藏</button>
        <button v-show="!filterMap.doubtful" @click="filterMap.doubtful=true">我的存疑</button>
        <button v-show="filterMap.doubtful" @click="filterMap.doubtful=''">取消我的存疑</button>
        <button @click="addFlag=!addFlag">添加题目</button>
        <button @click="filterMap.pageNo--">上一页</button>
        <span>当前页：{{filterMap.pageNo}}</span>
        <button @click="filterMap.pageNo++">下一页</button>
    </div>
    <div v-show="addFlag">
        <form>
            <div>
                <span>题目</span>
                <textarea v-model="addForm.title" style="width: 100%" placeholder="添加题目"></textarea>
            </div>
            <div>
                <span>选项</span>
                <textarea v-model="addForm.options" style="width: 100%" placeholder="选项"></textarea>
            </div>
            <div>
                <span>答案</span>
                <textarea v-model="addForm.answer" style="width: 100%" placeholder="答案"></textarea>
            </div>
            <div>
                <span>解析</span>
                <textarea v-model="addForm.parsing" style="width: 100%" placeholder="解析"></textarea>
            </div>
            <div>
                <button @click="addFormClick">添加</button>
                <button @click="addFormReset">重置</button>
            </div>
        </form>
    </div>
    <div>
        <div v-for="(item,index) in list" key="index">
            <div v-show="editId!==item.id" style="white-space: pre;">
                <div><span style="font-weight:bold">{{item.id}}. {{item.title}}</span></div>
                <div><span>{{item.options}}</span></div>
                <div>
                    <span v-show="!item.hideAnswer">{{item.answer}}
解析：<span>{{item.parsing}}</span>
                        <button @click="item.hideAnswer=true">隐藏</button>
                    </span>
                    <span v-show="item.hideAnswer"><button @click="item.hideAnswer=false">显示答案</button></span>
                </div>
                <button @click="editId=item.id">编辑</button>
            </div>
            <div v-show="editId===item.id">
                <div><span>题目：</span><textarea style="width: 100%;height: 100px;white-space:pre-wrap"
                                               v-model="item.title"></textarea></div>
                <div><span>选项：</span><textarea style="width: 100%;height: 100px;white-space:pre-wrap"
                                               v-model="item.options"></textarea>
                </div>
                <div>
                    <span>答案：</span><textarea style="width: 100%" v-model="item.answer"></textarea>
                    <span>解析：</span><textarea style="width: 100%;height: 100px" v-model="item.parsing"></textarea>
                </div>
                <div>
                    <input type="checkbox" v-model="item.hideAnswer">是否隐藏答案
                    <button @click="confirmEdit(index)">确定</button>
                </div>
            </div>
            <div>
                <button v-show="!item.likeable" @click="editLikeable(index)">收藏</button>
                <button v-show="item.likeable" @click="editLikeable(index)">不收藏</button>
                <button v-show="!item.doubtful" @click="editDoubtful(index)">存疑</button>
                <button v-show="item.doubtful" @click="editDoubtful(index)">取消存疑</button>
            </div>
            <hr>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            addFlag: false,
            filterMap: {hideAnswer: true, likeable: '', doubtful: '', pageNo: 1, pageSize: 10},
            searchWord: '',
            list: [],
            editId: -1,
            addForm: {title: '', options: '', answer: '', parsing: ''}
        },
        methods: {
            listData() {
                const that = this;
                axios({
                    method: "get",
                    url: "/question/list?hideAnswer=" + that.filterMap.hideAnswer + "&likeable=" + that.filterMap.likeable + "&doubtful=" +
                        that.filterMap.doubtful + "&searchWord=" + that.searchWord + "&pageNo=" + that.filterMap.pageNo + "&pageSize=" + that.filterMap.pageSize,
                    header: {'Content-Type': 'application/json'}
                }).then(res => {
                    that.list = res.data.records;
                })
            },
            addFormReset() {
                this.addForm = {title: '', options: '', answer: '', parsing: ''}
            },
            addFormClick() {
                console.log("添加成功")
                const that = this;
                axios({
                    method: "post",
                    url: "/question/save",
                    data: that.addForm,
                    header: {'Content-Type': 'application/json'}
                }).then(res => {
                    console.log('res=>', res);
                })
                this.addForm = {title: '', options: '', answer: '', parsing: ''}
            },
            editLikeable(index) {
                const id = this.list[index].id
                const likeable = !this.list[index].likeable;
                this.list[index].likeable = likeable;
                axios({
                    method: "post",
                    url: "/question/update",
                    data: {
                        id: id,
                        likeable: likeable
                    },
                    header: {'Content-Type': 'application/json'}
                }).then(res => {
                    console.log('res=>', res);
                })
            },
            editDoubtful(index) {
                const id = this.list[index].id
                const doubtful = !this.list[index].doubtful;
                this.list[index].doubtful = doubtful;
                axios({
                    method: "post",
                    url: "/question/update",
                    data: {
                        id: id,
                        doubtful: doubtful
                    },
                    header: {'Content-Type': 'application/json'}
                }).then(res => {
                    console.log('res=>', res);
                })
            },
            confirmEdit(index) {
                this.editId = -9991
                const that = this
                axios({
                    method: "post",
                    url: "/question/update",
                    data: that.list[index],
                    header: {'Content-Type': 'application/json'}
                }).then(res => {
                    console.log('res=>', res);
                })
            }
        },
        mounted() {
            this.listData()
        },
        watch: {
            filterMap: {//深度监听，可监听到对象、数组的变化
                handler(val, oldVal) {
                    this.listData()
                },
                deep: true //true 深度监听
            },
            searchWord: {
                handler(val, oldVal) {
                    this.listData()
                }
            }
        }
    });
</script>
</body>
</html>
